# Folders
node_modules
dist

# Cache
__pycache__
.cache
.parcel-cache

# Node Lock Files
package-lock.json
yarn.lock

## Logs
yarn-error.log

# Other
\.*.sw[op]
*.sublime-workspace
.env
.idea
.DS_Store
.idea/
*.override.yml